/*
        Name: Smashing HTML5
        Date: July 2009
        Description: Sample layout for HTML5 and CSS3 goodness.
        Version: 1.0
        Author: Enrique Ramírez
        Autor URI: http://enrique-ramirez.com
*/

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url("reset.css");

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em}             /* 14px */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em;
}

h3, h4, h5, h6 { margin-top: .8em; }
        
hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
        color: #C74350;
        padding: 0 1px;
        text-decoration: underline;
}
a:hover, a:active {
        background-color: #C74350;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
        list-style: outside disc;
        margin: 1em 0 1.5em 1.5em;
}

ol {
        list-style: outside decimal;
        margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color: #111; padding: 10px; color: #fff; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
        
        /* Thead */
        thead th {padding: .5em .4em; text-align: left;}
        thead td {}

        /* Tbody */
        tbody td {padding: .5em .4em;}
        tbody th {}
        
        tbody .alt td {}
        tbody .alt th {}
        
        /* Tfoot */
        tfoot th {}
        tfoot td {}
        
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
        display: block;
}

body {
  background-color: #FFF;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #555;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 80%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

/* On mobiles format the header to look reasonable */
@media all and (max-width: 550px) {
  .title {
    display: block;
    margin-bottom: 0;
  } 
  .header a.extra {
    display: inline-block;
    margin-left: 0;
    margin-right: 1em;
    margin-bottom: 2em;
  }
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
