<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Stafford Horne's (shorne, stffrdhrn) Computer Engineering blog and home page.">
        {% if page.categories %}
        <meta name="keywords" content="{{page.categories | join: ','}}" />
        {% else %}
        <meta name="keywords" content="{{site.keywords | join: ','}}" />
        {% endif %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }} - {{site.name}}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="Publisher" href="https://plus.google.com/116329984238075787778">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- favicon I drew on http://favicon-generator.org/ -->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link rel="alternate" type="application/atom+xml" title="shorne in japan" href="/feed.xml">
        <meta name="msvalidate.01" content="244EFE476BC887BBC78F2CACC5B2A64C" />
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">blog</a>
            <a class="extra" href="/page/archive.html">archive</a>
            <a class="extra" href="/page/about.html">about</a>
            <a class="extra" href="/page/contact.html">contact</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Stafford Horne<br />
                Computer Engineer<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/stffrdhrn">github.com/stffrdhrn</a><br />
                <a href="https://twitter.com/stffrdhrn">twitter.com/stffrdhrn</a><br />
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
